<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
</head>
<body class="container">
    <header>
        <% include ../partial/header.ejs %>
    </header>
 <main>
        <div class="jumbotron">
           <h1>Welcome To Cubing And Squaring!</h1>
            <p>It's Easy to Use</p>
        </div>
</main>
    <footer>
        <% include ../partial/footer %>
    </footer>


</body>

</html>
</html>


